/* Reset gaya default */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Atur tampilan halaman */
body {
    font-family: Arial, sans-serif;
    background-color: #E5D3B3;
    /* padding: 20px; */
}

header {
    background-color: #4D2D18;
    color: white;
    padding: 10px;
    /* border-radius: 5px; */
}

/* Kustomisasi elemen <nav> */
nav {
    background-color: #664229;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: space-between;
}

nav ul li {
    display: inline;
    margin: 2rem;
    /* margin-right: 20px; */
}

nav ul li:last-child {
    margin-right: 0; /* Menghapus margin-right dari elemen terakhir */
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #987554; /* Warna saat hover */
}

/* Card */
.card {
    width: 160px;
    height: 230px;
    border-radius: 5px;
    background: burlywood;
    padding: 2rem 1.5rem;
    margin-bottom: 3rem;
    margin: 0 auto;
    transition: box-shadow .3s ease, transform .2s ease;
   }
   
   .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
   }
   
   /*Image*/
   .card-avatar {
    --size: 120px;
    background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
   }
   
   .card-avatar img {
    --size: 120px;
    background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
    object-fit: cover;
   }

   .line {
    /* border: 1px solid #4D2D18; */
    height: 2px;
    width: 100%;
    background-color: #4D2D18;
    margin-top: 2rem;
    transform: translateY(200%);
   }
   
   /*Card footer*/
   .card-social {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
}
   
    .card-social__item {
        list-style: none;
    }

    .card-social__item svg {
        display: flex;
        height: 20px;
        width: 20px;
        text-align: center;
        fill: #664229;
        cursor: pointer;
        transition: fill 0.2s ease ,transform 0.2s ease;
        margin-right: 4rem;
   }

   /*Text*/
   .card-title {
    color: #4D2D18;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
   }
   
   .card-subtitle {
    color: #664229;
    font-size: 0.8em;
   }
   
   /*Hover*/
   .card:hover {
    box-shadow: 0 10px 20px #664229;
   }
   
   .card:hover .card-info {
    transform: translateY(-5%);
    }

    .line:hover {
    transform: translateY(-5%);
   }
   
   .card:hover .card-social {
    transform: translateY(20%);
    opacity: 1;
   }
   
   .card-social__item svg:hover {
    fill: blue;
    transform: scale(1.1);
    }

    .card-avatar:hover {
        transform: scale(1.1);
    }

    #ig:hover{
        fill: purple;
        transform: scale(1.1);
    }

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: beige;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h1 {
    font-family: merriweather;
}

h2 {
    color: #664229;
    margin-left: 20px;
    text-align: left;
}

section p {
    color: #4D2D18;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: justify;
}

section ul li {
    color: #4D2D18;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

section address {
color: #4D2D18;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: normal;
}

footer {
    text-align: center;
    font-weight: 700;
    font-family: merriweather;
    margin-top: 20px;
    padding: 0.5rem;
    background: #987554;
    border-radius: 5px;
}
